<div class="container-fluid bootdey">

    <div class="row" style="margin-left: 10px;">
        <div class="col-md-3">
            <!-- Search Section -->
            <section class="panel">
                <div class="panel-body">
                    <input type="text" id="keyword-search" placeholder="Búsqueda por palabra" class="form-control" />
                </div>
            </section>

            <!-- Categories Section -->
            <section class="panel">
                <header class="panel-heading" style="margin-bottom: 5px;font-weight: bold;">Riego por Aspersión</header>
                <div class="panel-body">
                    <ul class="nav prod-cat">
                        <li class="has-submenu">
                            <a href="#" class="toggle-submenu"><i class="fa fa-angle-right"></i>Aspersores</a>
                            <ul class="nav submenu" style="display: none;">
                                <li><a href="#" class="prod-cat" data-category="Dress">- Aspersores radio 12-18m</a>
                                </li>
                                <li><a href="#" class="prod-cat" data-category="Pant">- Aspersores radio 13-22m</a></li>
                                <li><a href="#" class="prod-cat" data-category="Shirt-aspersores">- Aspersores radio
                                        16-30m</a></li>
                                <li><a href="#" class="prod-cat" data-category="Beauty-aspersores">- Asperores radio
                                        20-44m</a></li>
                            </ul>
                        </li>
                        <li class="has-submenu">
                            <a href="#" class="toggle-submenu"><i class="fa fa-angle-right"></i> Jet de Aspersión
                                (Cañones)</a>
                            <ul class="nav submenu" style="display: none;">
                                <li><a href="#" class="prod-cat" data-category="Jet3035">- Jet 35 y Jet 40</a></li>
                                <li><a href="#" class="prod-cat" data-category="Jet5055">- Jet 50 y Jet 55</a></li>
                                <li><a href="#" class="prod-cat" data-category="Jet6570">- Jet 65 y 70</a></li>
                            </ul>
                        </li>
                        <li class="has-submenu">
                            <a href="#" class="toggle-submenu"><i class="fa fa-angle-right"></i> Aspersores estercoleros, de pivot e industriales</a>
                            <ul class="nav submenu" style="display: none;">
                                <li><a href="#" class="prod-cat" data-category="Estercoleros">- Aspersores estercoleros</a></li>
                                <li><a href="#" class="prod-cat" data-category="Ngun">- Anspersores de pivot</a></li>
                                <li><a href="#" class="prod-cat" data-category="Industriales">- Aspersores industriales</a></li>
                            </ul>
                        </li>

                        <li class="has-submenu">
                            <a href="#" class="toggle-submenu"><i class="fa fa-angle-right"></i> Accesorios
                                instalación</a>
                            <ul class="nav submenu" style="display: none;">
                                <li><a href="#" class="prod-cat" data-category="Bases">- Tripodes</a></li>                                
                                <li><a href="#" class="prod-cat" data-category="Basesruedas">- Bases con ruedas para aspersores</a></li>
                                <li><a href="#" class="prod-cat" data-category="Couplings">- Couplings, Hidrantes y Válvulas de alivio</a>
                                </li>
                            </ul>
                        </li>

                    </ul>
                </div>
            </section>


            <section class="panel">
                <header class="panel-heading" style="margin-bottom: 5px;font-weight: bold;margin-top: 5px;">Riego
                    Localizado</header>
                <div class="panel-body">
                    <ul class="nav prod-cat">
                        <li class="has-submenu">
                            <a href="#" class="toggle-submenu"><i class="fa fa-angle-right"></i>Riego por Goteo</a>
                            <ul class="nav submenu" style="display: none;">
                                <li><a href="#" class="active" data-category="Shirt">- Aspersores radio 12-18m</a></li>
                                <li><a href="#" class="active" data-category="Pant">- Aspersores radio 13-22m</a></li>
                                <li><a href="#" class="active" data-category="Shirt">- Aspersores radio 16-30m</a></li>
                                <li><a href="#" class="active" data-category="Pant">- Aspersores radio 20-44m</a></li>
                            </ul>
                        </li>
                        <li class="has-submenu">
                            <a href="#" class="toggle-submenu"><i class="fa fa-angle-right"></i> Microaspersión</a>
                            <ul class="nav submenu" style="display: none;">
                                <li><a href="#" data-category="Shirt">- Jet 30 y Jet 35</a></li>
                                <li><a href="#" data-category="Pant">- Jet 40 y Jet 50</a></li>
                                <li><a href="#" data-category="Shirt">- Jet 55 y 65</a></li>
                                <li><a href="#" data-category="Pant">- Jet 70</a></li>
                            </ul>
                        </li>

                        <li class="has-submenu">
                            <a href="#" class="toggle-submenu"><i class="fa fa-angle-right"></i> Accesorios
                                instalación</a>
                            <ul class="nav submenu" style="display: none;">
                                <li><a href="#" data-category="Shirt">- Tripodes</a></li>
                                <li><a href="#" data-category="Pant">- Bases para aspersores</a></li>
                                <li><a href="#" data-category="Shirt">- bases con ruedas para aspersores</a></li>
                                <li><a href="#" data-category="Pant">- Couplings, Hidrantes y Válvulas de alivio</a>
                                </li>
                            </ul>
                        </li>

                    </ul>
                </div>
            </section>

            <!-- Price Range Section
        <section class="panel panel-price">
            <header class="panel-heading">Rango de Precios</header>
              <div id="price-range"></div>
              <p>$<span id="min-price">8</span> – $<span id="max-price">64</span> y más</p>
              <button id="apply-price-filter" class="btn btn-primary btn-sm">Ir</button>
        </section>  -->

            <section class="panel panel-price">
                <header class="panel-heading" style="margin-top: 20px;font-weight: bold;">Rango de Precios</header>

                <div class="price-slider-container">
                    <div id="price-range"></div>
                    <button id="apply-price-filter" class="btn btn-primary btn-sm">Ir</button>
                </div>

                <p>$<span id="min-price">8</span> – $<span id="max-price">64</span> y más</p>
            </section>


            <!-- Filter Section -->
            <section class="panel">
                <header class="panel-heading">Filtro</header>
                <div class="panel-body">
                    <form role="form product-form">
                        <div class="form-group">
                            <label>Marca</label>
                            <select class="form-control">
                                <option>Yusuak</option>
                            </select>
                        </div>
                        <!--<div class="form-group">
                            <label>Color</label>
                            <select class="form-control">
                                <option>White</option>
                                <option>Black</option>
                            </select>
                        </div>-->
                        <button class="btn btn-primary" type="submit" style="margin-top: 20px;margin-bottom: 20px;">Filter</button>
                    </form>
                </div>
            </section>
        </div>

        <div class="col-md-9">
            <!-- Pagination -->
            <section class="panel">
                <div class="panel-body">
                    <div class="pull-right">
                        <ul class="pagination pagination-sm">
                            <li><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">»</a></li>
                        </ul>
                    </div>
                </div>
            </section>

             
            <div class="row product-list">

                <div class="col-md-4">
                    <!-- Product List
                    <section class="panel">
                        <div class="pro-img-box">
                            <img src="https://www.bootdey.com/image/250x220/FFB6C1/000000" alt="" />
                            <a href="#" class="adtocart"><i class="fa fa-shopping-cart"></i></a>
                        </div>
                        <div class="panel-body text-center">
                            <h4><a href="#" class="pro-title">Leopard Shirt Dress</a></h4>
                            <p class="price">$300.00</p>
                        </div>
                    </section>-->
                </div>
                 Add more products similarly 
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="assets/js/DynamicProduct.js"></script>