<footer style="background-color: #007447;" class="text-white text-center py-4">
  <div class="container">

    <!-- Redes sociales -->
    <div class="mb-3">
      <a href="#" class="text-white mx-2"><i class="fab fa-facebook-f"></i></a>
      <a href="#" class="text-white mx-2"><i class="fab fa-instagram"></i></a>
      <a href="#" class="text-white mx-2"><i class="fab fa-linkedin-in"></i></a>
      <a href="#" class="text-white mx-2"><i class="fab fa-twitter"></i></a>
    </div>
    <!-- Enlaces -->
    <div class="mb-3">
      <a href="/faq" class="text-white text-decoration-none mx-2 fw-bold border-bottom">FAQ</a>
      <a href="/servicios" class="text-white text-decoration-none mx-2 fw-bold border-bottom">Servicios</a>
      <a href="/politica" class="text-white text-decoration-none mx-2 fw-bold border-bottom">Política de Privacidad</a>
    </div>

    

    <!-- Info Irrigex -->
    <small class="d-block">
      © 2025 <strong>Irrigex</strong> | Aspersores para riego, línea de incendio e industrial
    </small>
  </div>
</footer>

<!-- Asegúrate de tener FontAwesome cargado -->
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
/>